<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmPageLabel" jhiTranslate="cmExodusApp.cmPage.home.createOrEditLabel">Create or edit a Cm Page</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="row">
            <div class="col-6 form-group">
                <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.titleSv" for="field_titleSv">Title Sv</label>
                <input type="text" class="form-control" name="titleSv" id="field_titleSv"
                    [(ngModel)]="cmPage.titleSv" required/>
                <div [hidden]="!(editForm.controls.titleSv?.dirty && editForm.controls.titleSv?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.titleSv?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
            <div class="col-6 form-group">
                <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.titleEn" for="field_titleEn">Title En</label>
                <input type="text" class="form-control" name="titleEn" id="field_titleEn"
                    [(ngModel)]="cmPage.titleEn" required/>
                <div [hidden]="!(editForm.controls.titleEn?.dirty && editForm.controls.titleEn?.invalid)">
                    <small class="form-text text-danger"
                       [hidden]="!editForm.controls.titleEn?.errors?.required" jhiTranslate="entity.validation.required">
                       This field is required.
                    </small>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-8 form-group">
                <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.pageLayout" for="field_pageLayout">Page Layout</label>
                <select class="form-control" name="pageLayout" [(ngModel)]="cmPage.pageLayout" id="field_pageLayout" >
                    <option value="MAIN">{{'cmExodusApp.PageLayout.MAIN' | translate}}</option>
                    <option value="COLUMN_RIGHT">{{'cmExodusApp.PageLayout.COLUMN_RIGHT' | translate}}</option>
                </select>
            </div>
            <div class="col-4 form-group">
                <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.sorted" for="field_sorted">Sorted</label>
                <input type="number" class="form-control" name="sorted" id="field_sorted"
                       [(ngModel)]="cmPage.sorted" />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.metaTitle" for="field_metaTitle">Meta Title</label>
            <input type="text" class="form-control" name="metaTitle" id="field_metaTitle"
                [(ngModel)]="cmPage.metaTitle" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmPage.metaDescription" for="field_metaDescription">Meta Description</label>
            <input type="text" class="form-control" name="metaDescription" id="field_metaDescription"
                [(ngModel)]="cmPage.metaDescription" />
        </div>

        <div class="form-group">
            <label jhiTranslate="cmExodusApp.cmPage.module" for="field_module">Module</label>
            <select class="form-control" id="field_module" multiple name="module" [(ngModel)]="cmPage.modules" readonly>
                <option readonly [ngValue]="getSelected(cmPage.modules, cmModuleOption)" *ngFor="let cmModuleOption of cmmodules; trackBy: trackCmModuleById">{{cmModuleOption.moduleType}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
