<div>
    <h2>
        <span jhiTranslate="cmExodusApp.cmModule.home.title">Cm Modules</span>
        <button class="btn btn-primary float-right jh-create-entity create-cm-module" [routerLink]="['/', { outlets: { popup: ['cm-module-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmExodusApp.cmModule.home.createLabel">
            Create new Cm Module
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cmModules">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmExodusApp.cmModule.sorted">Sorted</span></th>
            <th><span jhiTranslate="cmExodusApp.cmModule.moduleType">Module Type</span></th>
            <th><span jhiTranslate="cmExodusApp.cmModule.layout">Layout</span></th>
            <th><span jhiTranslate="cmExodusApp.cmModule.columnLayout">Column Layout</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cmModule of cmModules ;trackBy: trackId">
                <td><a [routerLink]="['../cm-module', cmModule.id ]">{{cmModule.id}}</a></td>
                <td>{{cmModule.sorted}}</td>
                <td jhiTranslate="{{'cmExodusApp.ModuleType.' + cmModule.moduleType}}">{{cmModule.moduleType}}</td>
                <td jhiTranslate="{{'cmExodusApp.LayoutType.' + cmModule.layout}}">{{cmModule.layout}}</td>
                <td jhiTranslate="{{'cmExodusApp.ColumnLayout.' + cmModule.columnLayout}}">{{cmModule.columnLayout}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cm-module', cmModule.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-module/'+ cmModule.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-module/'+ cmModule.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
