
/* ==========================================================================
Main
========================================================================== */
.header-bar{
    padding:0;
    margin: 0 2vw 1.2vh 2vw;
}
.hr-bar{
    padding:0;
    margin: 0 3.8vw;
    border-bottom: 2px solid #f2b752;
}
