
/* ==========================================================================
Main
========================================================================== */
.header-bar{
    padding:0;
    margin: 0 1.4vw 0.8vh 0.8vw;
}
.hr-bar{
    padding:0;
    margin: 0.8vw 3.0vw;
    border-bottom: 2px solid #f2b752;
}
