
<div *ngIf="cmItem">
    <h2><span jhiTranslate="cmExodusApp.cmItem.detail.title">Cm Item</span> {{cmItem.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmExodusApp.cmItem.itemDate">Item Date</span></dt>
        <dd>
            <span>{{cmItem.itemDate | date:'medium'}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.sorted">Sorted</span></dt>
        <dd>
            <span>{{cmItem.sorted}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.toolTip">Tool Tip</span></dt>
        <dd>
            <span>{{cmItem.toolTip}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.layout">Layout</span></dt>
        <dd>
            <span jhiTranslate="{{'cmExodusApp.LayoutType.' + cmItem.layout}}">{{cmItem.layout}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.publishDate">Publish Date</span></dt>
        <dd>
            <span>{{cmItem.publishDate | date:'mediumDate'}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.publish">Publish</span></dt>
        <dd>
            <span>{{cmItem.publish}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmItem.cmModule">Cm Module</span></dt>
        <dd>
            <div *ngIf="cmItem.cmModuleId">
                <a [routerLink]="['/cm-module', cmItem.cmModuleId]">{{cmItem.cmModuleId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cm-item/'+ cmItem.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
