<div>
    <h2>
        <span jhiTranslate="cmExodusApp.cmItem.home.title">Cm Items</span>
        <button class="btn btn-primary float-right jh-create-entity create-cm-item" [routerLink]="['/', { outlets: { popup: ['cm-item-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmExodusApp.cmItem.home.createLabel">
            Create new Cm Item
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cmItems">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.itemDate">Item Date</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.sorted">Sorted</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.toolTip">Tool Tip</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.layout">Layout</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.publishDate">Publish Date</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.publish">Publish</span></th>
            <th><span jhiTranslate="cmExodusApp.cmItem.cmModule">Cm Module</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cmItem of cmItems ;trackBy: trackId">
                <td><a [routerLink]="['../cm-item', cmItem.id ]">{{cmItem.id}}</a></td>
                <td>{{cmItem.itemDate | date:'medium'}}</td>
                <td>{{cmItem.sorted}}</td>
                <td>{{cmItem.toolTip}}</td>
                <td jhiTranslate="{{'cmExodusApp.LayoutType.' + cmItem.layout}}">{{cmItem.layout}}</td>
                <td>{{cmItem.publishDate | date:'mediumDate'}}</td>
                <td>{{cmItem.publish}}</td>
                <td>
                    <div *ngIf="cmItem.cmModuleId">
                        <a [routerLink]="['../cm-module', cmItem.cmModuleId  ]" >{{cmItem.cmModuleId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cm-item', cmItem.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-item/'+ cmItem.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-item/'+ cmItem.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
