<div>
    <h2>
        <span jhiTranslate="cmExodusApp.cmPageAuthority.home.title">Cm Page Authorities</span>
        <button class="btn btn-primary float-right jh-create-entity create-cm-page-authority-cm" [routerLink]="['/', { outlets: { popup: ['cm-page-authority-cm-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmExodusApp.cmPageAuthority.home.createLabel">
            Create new Cm Page Authority
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cmPageAuthorities">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span jhiTranslate="global.field.id">ID</span></th>
            <th><span jhiTranslate="cmExodusApp.cmPageAuthority.user">User</span></th>
            <th><span jhiTranslate="cmExodusApp.cmPageAuthority.role">Role</span></th>
            <th><span jhiTranslate="cmExodusApp.cmPageAuthority.cmPage">Cm Page</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cmPageAuthority of cmPageAuthorities ;trackBy: trackId">
                <td><a [routerLink]="['../cm-page-authority-cm', cmPageAuthority.id ]">{{cmPageAuthority.id}}</a></td>
                <td>{{cmPageAuthority.user}}</td>
                <td>{{cmPageAuthority.role}}</td>
                <td>
                    <div *ngIf="cmPageAuthority.cmPageId">
                        <a [routerLink]="['../cm-page-cm', cmPageAuthority.cmPageId  ]" >{{cmPageAuthority.cmPageId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cm-page-authority-cm', cmPageAuthority.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-page-authority-cm/'+ cmPageAuthority.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'cm-page-authority-cm/'+ cmPageAuthority.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
