<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmImageLabel" jhiTranslate="cmExodusApp.cmImage.home.createOrEditLabel">Create or edit a Cm Image</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cmImage.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cmImage.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cmImage.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.imageType" for="field_imageType">Image Type</label>
            <input type="text" class="form-control" name="imageType" id="field_imageType"
                [(ngModel)]="cmImage.imageType" required/>
            <div [hidden]="!(editForm.controls.imageType?.dirty && editForm.controls.imageType?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.imageType?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.toolTip" for="field_toolTip">Tool Tip</label>
            <input type="text" class="form-control" name="toolTip" id="field_toolTip"
                [(ngModel)]="cmImage.toolTip" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.sorted" for="field_sorted">Sorted</label>
            <input type="number" class="form-control" name="sorted" id="field_sorted"
                [(ngModel)]="cmImage.sorted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.layout" for="field_layout">Layout</label>
            <select class="form-control" name="layout" [(ngModel)]="cmImage.layout" id="field_layout" >
                <option value="LEFT">{{'cmExodusApp.LayoutType.LEFT' | translate}}</option>
                <option value="RIGHT">{{'cmExodusApp.LayoutType.RIGHT' | translate}}</option>
                <option value="MIDDLE">{{'cmExodusApp.LayoutType.MIDDLE' | translate}}</option>
                <option value="CENTER">{{'cmExodusApp.LayoutType.CENTER' | translate}}</option>
                <option value="TOP">{{'cmExodusApp.LayoutType.TOP' | translate}}</option>
                <option value="BOTTOM">{{'cmExodusApp.LayoutType.BOTTOM' | translate}}</option>
                <option value="SIDEBYSIDE">{{'cmExodusApp.LayoutType.SIDEBYSIDE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.date" for="field_date">Date</label>
            <div class="input-group">
                <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="cmImage.date"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.publishDate" for="field_publishDate">Publish Date</label>
            <div class="input-group">
                <input id="field_publishDate" type="text" class="form-control" name="publishDate" ngbDatepicker  #publishDateDp="ngbDatepicker" [(ngModel)]="cmImage.publishDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.publish" for="field_publish">Publish</label>
            <input type="checkbox" class="form-control" name="publish" id="field_publish"
                [(ngModel)]="cmImage.publish" />
            <div [hidden]="!(editForm.controls.publish?.dirty && editForm.controls.publish?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publish?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.cmModule" for="field_cmModule">Cm Module</label>
            <select class="form-control" id="field_cmModule" name="cmModule" [(ngModel)]="cmImage.cmModuleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmModuleOption.id" *ngFor="let cmModuleOption of cmmodules; trackBy: trackCmModuleById">{{cmModuleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmImage.cmItem" for="field_cmItem">Cm Item</label>
            <select class="form-control" id="field_cmItem" name="cmItem" [(ngModel)]="cmImage.cmItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmItemOption.id" *ngFor="let cmItemOption of cmitems; trackBy: trackCmItemById">{{cmItemOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
