<div>
    <h2>
        <span jhiTranslate="cmExodusApp.cmPage.home.title">Cm Pages</span>
        <button class="btn btn-primary float-right jh-create-entity create-cm-page" [routerLink]="['/', { outlets: { popup: ['page-new'] } }]">
            <span class="fa fa-plus"></span>
            <span  jhiTranslate="cmExodusApp.cmPage.home.createLabel">
            Create new Cm Page
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <div class="row">
    </div>
    <br/>
    <div class="table-responsive" *ngIf="cmPages">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="titleSv"><span jhiTranslate="cmExodusApp.cmPage.titleSv">Title Sv</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="titleEn"><span jhiTranslate="cmExodusApp.cmPage.titleEn">Title En</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="metaTitle"><span jhiTranslate="cmExodusApp.cmPage.metaTitle">Meta Title</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="metaDescription"><span jhiTranslate="cmExodusApp.cmPage.metaDescription">Meta Description</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="sorted"><span jhiTranslate="cmExodusApp.cmPage.sorted">Sorted</span> <span class="fa fa-sort"></span></th>
                <th jhiSortBy="pageLayout"><span jhiTranslate="cmExodusApp.cmPage.pageLayout">Page Layout</span> <span class="fa fa-sort"></span></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let cmPage of cmPages ;trackBy: trackId">
                <td><a [routerLink]="['../cm-page', cmPage.id ]">{{cmPage.id}}</a></td>
                <td>{{cmPage.titleSv}}</td>
                <td>{{cmPage.titleEn}}</td>
                <td>{{cmPage.metaTitle}}</td>
                <td>{{cmPage.metaDescription}}</td>
                <td>{{cmPage.sorted}}</td>
                <td jhiTranslate="{{'cmExodusApp.PageLayout.' + cmPage.pageLayout}}">{{cmPage.pageLayout}}</td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['../cm-page', cmPage.id ]"
                                class="btn btn-info btn-sm">
                            <span class="fa fa-eye"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'page/'+ cmPage.id + '/edit'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-primary btn-sm">
                            <span class="fa fa-pencil"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'page/'+ cmPage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <span class="fa fa-remove"></span>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
