<div class="float-right language_flags">
    <span *ngFor="let language of languages">
        <a class="" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();"> {{language | uppercase}}</a>
    </span>
</div>
<nav class="row navbar navbar-expand-md jh-navbar">
    <div class="col-12 col-sm-8 col-md-5 col-xl-3 jh-logo-container">
        <a class="jh-navbar-toggler d-lg-none float-right" href="javascript:void(0);" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleNavbar()">
            <i class="fa fa-bars"></i>
        </a>
        <div class="navbar-title">
            <a routerLink="/" (click)="collapseNavbar()">
                <span jhiTranslate="global.navbar.title" class="navbar-title align-text-bottom">Pingst</span>
            </a>
        </div>
        <div jhiTranslate="global.navbar.sub" class="navbar-sub align-text-top">{{version}}</div>

    </div>
    <div class="col navbar-collapse collapse jh-navbar-menu" id="navbarResponsive" [ngbCollapse]="isNavbarCollapsed" [ngSwitch]="isAuthenticated()">
        <ul class="navbar-nav">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/']"  [queryParams]="{ page: 0 }"   (click)="collapseNavbar()">
                    <span>
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.home">Home</span>
                    </span>
                </a>
            </li>
            <!-- Program -->
            <li ngbDropdown class="nav-item dropdown pointer" *ngFor="let menu of menus">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="navBarDropdown">
                    <span>
                        <i class="fa {{menu.icon}}" aria-hidden="true"></i>
                        <span>{{translate(menu)}}</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="menu.subTopics.length > 0">
                    <li *ngFor="let sub of menu.subTopics">
                        <a class="dropdown-item" [routerLink]="['/app/content']"  [queryParams]="{ page: sub.pageId }"  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="collapseNavbar()">
                            {{translate(sub)}}</a>
                    </li>
                </ul>
            </li>
            <!-- Language -->
            <!-- li ngbDropdown class="nav-item dropdown pointer" *ngIf="languages">
                <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:void(0);" id="languagesnavBarDropdown" *ngIf="languages.length > 1">
                    <span>
                        <i class="fa fa-flag" aria-hidden="true"></i>
                        <span jhiTranslate="global.menu.language">Language</span>
                    </span>
                </a>
                <ul class="dropdown-menu" ngbDropdownMenu *ngIf="languages.length > 1">
                    <li *ngFor="let language of languages">
                        <a class="dropdown-item" [jhiActiveMenu]="language" href="javascript:void(0);" (click)="changeLanguage(language);collapseNavbar();">{{language | findLanguageFromKey}}</a>
                    </li>
                </ul>
            </li -->
        </ul>
    </div>
</nav>
