
/* ==========================================================================
Navbar
========================================================================== */
.navbar-title {
    display: inline-block;
    color: #f2b752;
    font-size: 6.8vh;
    line-height: 0.8;
    padding: 0 4vw 0 0;
}
.navbar-sub {
    display: inline-block;
    vertical-align: text-bottom;
    font-size: 2.2vh;
    font-weight: 600;
    color: #f2b752;
    padding: 0 0 0 2em;
}
.language_flags{
    margin: 0.6em 1.6em 0 0;
}
.jh-navbar-menu{
    background-color: #fff;
}

.jh-navbar {
    background-color: #fff;
    // padding: 1.0em 2em 0em 8em;
    padding: .2em 1em 2em 1em;
    margin: 0 1em;
    .profile-image {
        margin: -10px 0px;
        height: 40px;
        width: 40px;
        border-radius: 50%;
    }
    .dropdown-item.active, .dropdown-item.active:focus, .dropdown-item.active:hover {
        background-color: #353d47;
    }
    .dropdown-toggle::after {
        margin-left: 0.15em;
    }
    ul.navbar-nav {
        padding: 0.5em;
        .nav-item {
            margin-left: 1.5rem;
        }
    }
    a.nav-link {
        font-weight: 400;
    }
    .jh-navbar-toggler {
        color: #222;
        font-size: 2.0em;
        padding: 10px 0 0 0.4vh;
        &:hover {
            color: #aaa;
        }
    }

}

@media (min-width: 992px) {
    .jh-navbar-menu{
        // margin: 6em 4em 0em 1em;
        // margin: 400em;
        background-color: #fff;
    }
}

@media screen and (min-width: 768px) {
    .jh-navbar-toggler {
        display: none;
    }
    .jh-navbar-menu{
        margin: 0;
    }
}

@media screen and (max-width: 992px) {
    .jh-logo-container {
        width: 100%;
    }
    ._jh-navbar-menu{
        margin: 0 4em 0 0;
    }
    .language_flags{
        margin: 0.6em 1.0em 0 0;
    }
}
/* ==========================================================================
Logo styles
========================================================================== */
.navbar-brand {
    &.logo {
        padding: 0;
        .logo-img {
            height: 45px;
            width: 70px;
            display: inline-block;
            vertical-align: middle;
            background: url("../../../content/images/logo-jhipster.png") no-repeat center center;
            background-size: contain;
        }
    }
}
