
/* ==========================================================================
Main page styles
========================================================================== */
.program_list{
  margin: 0.1em 0 0.2em 0;
  color: black;
  font-size: 0.95em;
}
.text-title{
    color: #444;
    margin-left: 0.4vh;
}
.text-ingress{
    font-size: 2.8em;
    margin-left: 0.4vh;
}
.display-date{
    font-size: 4.2vw;
}
.display-month{
    font-size: 2.0vw;
}
.row-striped:nth-of-type(odd){
  // background-color: #efefef;
  // border-left: 4px #000000 solid;
}
.row-striped:nth-of-type(even){
  background-color: #fff;
  // border-left: 4px #efefef solid;
}
.row-striped {
    padding: 0.1em 0;
    border-bottom: 1px #ccc dashed;
}
@media (max-width: 768px) {
    .display-date{
        font-size: 2.2em;
    }
    .display-month{
        font-size: 1.0em;
        white-space: nowrap;
    }
}
