
/* ==========================================================================
Home page styles
========================================================================== */
.jh_carousel{
    text-align: top;
    float: none;
    display: block;
    margin: -12px -20px 0 -20px;
    border:0;
}
.jh_img{
    object-fit: fill;
    width: 100% !important; // 100% !important
    height: auto;
    max-height: 600px;
}
.hipster {
    display: inline-block;
    width: 347px;
    height: 497px;
    background: url("../../content/images/hipster.png") no-repeat center top;
    background-size: contain;
}
.slide_header{
    color: #fff;
    font-weight: 600;
    font-size: 5.0vh;
}
.slide_text{
    color: #fff;
    font-size: 3.6vh;
}

@media (min-width: 768px) {
    .carousel-caption {
        display: block;
        text-align: left;
        position: absolute;
        top: 0;
        left: 10%;
        width: 600px;
        bottom: auto;
    }
}
@media (max-width: 768px) {
    .carousel-caption {
        text-align: left;
    }
    .slide_header{
        color: #fff;
        font-weight: 600;
        font-size: 3.4vh;
    }
    .slide_text{
        color: #fff;
        font-size: 2.6vh;
    }
}
/* wait autoprefixer update to allow simple generation of high pixel density media query */
@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {
    .hipster {
        background: url("../../content/images/hipster2x.png") no-repeat center top;
        background-size: contain;
    }
}
