<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmTextLabel" jhiTranslate="cmExodusApp.cmText.home.createOrEditLabel">Create or edit a Cm Text</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cmText.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cmText.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.textSv" for="field_textSv">Text Sv</label>
            <input type="text" class="form-control" name="textSv" id="field_textSv"
                [(ngModel)]="cmText.textSv" required/>
            <div [hidden]="!(editForm.controls.textSv?.dirty && editForm.controls.textSv?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.textSv?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.textEn" for="field_textEn">Text En</label>
            <input type="text" class="form-control" name="textEn" id="field_textEn"
                [(ngModel)]="cmText.textEn" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.fontSize" for="field_fontSize">Font Size</label>
            <input type="text" class="form-control" name="fontSize" id="field_fontSize"
                [(ngModel)]="cmText.fontSize" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.fontWeight" for="field_fontWeight">Font Weight</label>
            <input type="text" class="form-control" name="fontWeight" id="field_fontWeight"
                [(ngModel)]="cmText.fontWeight" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.textType" for="field_textType">Text Type</label>
            <select class="form-control" name="textType" [(ngModel)]="cmText.textType" id="field_textType" >
                <option value="TITLE">{{'cmExodusApp.TextType.TITLE' | translate}}</option>
                <option value="INGRESS">{{'cmExodusApp.TextType.INGRESS' | translate}}</option>
                <option value="TEXT">{{'cmExodusApp.TextType.TEXT' | translate}}</option>
                <option value="TEXT_IMAGE">{{'cmExodusApp.TextType.TEXT_IMAGE' | translate}}</option>
                <option value="LIST">{{'cmExodusApp.TextType.LIST' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.sorted" for="field_sorted">Sorted</label>
            <input type="number" class="form-control" name="sorted" id="field_sorted"
                [(ngModel)]="cmText.sorted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.layout" for="field_layout">Layout</label>
            <select class="form-control" name="layout" [(ngModel)]="cmText.layout" id="field_layout" >
                <option value="LEFT">{{'cmExodusApp.LayoutType.LEFT' | translate}}</option>
                <option value="RIGHT">{{'cmExodusApp.LayoutType.RIGHT' | translate}}</option>
                <option value="MIDDLE">{{'cmExodusApp.LayoutType.MIDDLE' | translate}}</option>
                <option value="CENTER">{{'cmExodusApp.LayoutType.CENTER' | translate}}</option>
                <option value="TOP">{{'cmExodusApp.LayoutType.TOP' | translate}}</option>
                <option value="BOTTOM">{{'cmExodusApp.LayoutType.BOTTOM' | translate}}</option>
                <option value="SIDEBYSIDE">{{'cmExodusApp.LayoutType.SIDEBYSIDE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.textDate" for="field_textDate">Text Date</label>
            <div class="d-flex">
                <input id="field_textDate" type="datetime-local" class="form-control" name="textDate" [(ngModel)]="cmText.textDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.publishDate" for="field_publishDate">Publish Date</label>
            <div class="input-group">
                <input id="field_publishDate" type="text" class="form-control" name="publishDate" ngbDatepicker  #publishDateDp="ngbDatepicker" [(ngModel)]="cmText.publishDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.publish" for="field_publish">Publish</label>
            <input type="checkbox" class="form-control" name="publish" id="field_publish"
                [(ngModel)]="cmText.publish" />
            <div [hidden]="!(editForm.controls.publish?.dirty && editForm.controls.publish?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publish?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.cmModule" for="field_cmModule">Cm Module</label>
            <select class="form-control" id="field_cmModule" name="cmModule" [(ngModel)]="cmText.cmModuleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmModuleOption.id" *ngFor="let cmModuleOption of cmmodules; trackBy: trackCmModuleById">{{cmModuleOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.cmItem" for="field_cmItem">Cm Item</label>
            <select class="form-control" id="field_cmItem" name="cmItem" [(ngModel)]="cmText.cmItemId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmItemOption.id" *ngFor="let cmItemOption of cmitems; trackBy: trackCmItemById">{{cmItemOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmText.image" for="field_image">Image</label>
            <select class="form-control" id="field_image" name="image" [(ngModel)]="cmText.imageId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cmImageOption.id" *ngFor="let cmImageOption of images; trackBy: trackCmImageById">{{cmImageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
