<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmItemLabel" jhiTranslate="cmExodusApp.cmItem.home.createOrEditLabel">Create or edit a Cm Item</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cmItem.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cmItem.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.itemDate" for="field_itemDate">Item Date</label>
            <div class="d-flex">
                <input id="field_itemDate" type="datetime-local" class="form-control" name="itemDate" [(ngModel)]="cmItem.itemDate"
                />
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.sorted" for="field_sorted">Sorted</label>
            <input type="number" class="form-control" name="sorted" id="field_sorted"
                [(ngModel)]="cmItem.sorted" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.toolTip" for="field_toolTip">Tool Tip</label>
            <input type="text" class="form-control" name="toolTip" id="field_toolTip"
                [(ngModel)]="cmItem.toolTip" />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.layout" for="field_layout">Layout</label>
            <select class="form-control" name="layout" [(ngModel)]="cmItem.layout" id="field_layout" >
                <option value="LEFT">{{'cmExodusApp.LayoutType.LEFT' | translate}}</option>
                <option value="RIGHT">{{'cmExodusApp.LayoutType.RIGHT' | translate}}</option>
                <option value="MIDDLE">{{'cmExodusApp.LayoutType.MIDDLE' | translate}}</option>
                <option value="CENTER">{{'cmExodusApp.LayoutType.CENTER' | translate}}</option>
                <option value="TOP">{{'cmExodusApp.LayoutType.TOP' | translate}}</option>
                <option value="BOTTOM">{{'cmExodusApp.LayoutType.BOTTOM' | translate}}</option>
                <option value="SIDEBYSIDE">{{'cmExodusApp.LayoutType.SIDEBYSIDE' | translate}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.publishDate" for="field_publishDate">Publish Date</label>
            <div class="input-group">
                <input id="field_publishDate" type="text" class="form-control" name="publishDate" ngbDatepicker  #publishDateDp="ngbDatepicker" [(ngModel)]="cmItem.publishDate"
                />
                <span class="input-group-append">
                    <button type="button" class="btn btn-secondary" (click)="publishDateDp.toggle()"><i class="fa fa-calendar"></i></button>
                </span>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.publish" for="field_publish">Publish</label>
            <input type="checkbox" class="form-control" name="publish" id="field_publish"
                [(ngModel)]="cmItem.publish" />
            <div [hidden]="!(editForm.controls.publish?.dirty && editForm.controls.publish?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.publish?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmItem.cmModule" for="field_cmModule">Cm Module</label>
            <select class="form-control" id="field_cmModule" name="cmModule" [(ngModel)]="cmItem.cmModuleId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmModuleOption.id" *ngFor="let cmModuleOption of cmmodules; trackBy: trackCmModuleById">{{cmModuleOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
