<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmSubTopicLabel" jhiTranslate="cmExodusApp.cmSubTopic.home.createOrEditLabel">Create or edit a Cm Sub Topic</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cmSubTopic.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cmSubTopic.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmSubTopic.name" for="field_name">Name</label>
            <input type="text" class="form-control" name="name" id="field_name"
                [(ngModel)]="cmSubTopic.name" required/>
            <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.name?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmSubTopic.visable" for="field_visable">Visable</label>
            <input type="checkbox" class="form-control" name="visable" id="field_visable"
                [(ngModel)]="cmSubTopic.visable" />
        </div>

        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmSubTopic.cmTopic" for="field_cmTopic">Cm Topic</label>
            <select class="form-control" id="field_cmTopic" name="cmTopic" [(ngModel)]="cmSubTopic.cmTopicId" >
                <option [ngValue]="null"></option>
                <option [ngValue]="cmTopicOption.id" *ngFor="let cmTopicOption of cmtopics; trackBy: trackCmTopicById">{{cmTopicOption.id}}</option>
            </select>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmSubTopic.page" for="field_page">Page</label>
            <select class="form-control" id="field_page" name="page" [(ngModel)]="cmSubTopic.pageId">
                <option [ngValue]="null"></option>
                <option [ngValue]="cmPageOption.id" *ngFor="let cmPageOption of pages; trackBy: trackCmPageById">{{cmPageOption.id}}</option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
