
<div *ngIf="cmSubTopic">
    <h2><span jhiTranslate="cmExodusApp.cmSubTopic.detail.title">Cm Sub Topic</span> {{cmSubTopic.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmExodusApp.cmSubTopic.name">Name</span></dt>
        <dd>
            <span>{{cmSubTopic.name}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmSubTopic.visable">Visable</span></dt>
        <dd>
            <span>{{cmSubTopic.visable}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmSubTopic.cmTopic">Cm Topic</span></dt>
        <dd>
            <div *ngIf="cmSubTopic.cmTopicId">
                <a [routerLink]="['/cm-topic-cm', cmSubTopic.cmTopicId]">{{cmSubTopic.cmTopicId}}</a>
            </div>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmSubTopic.page">Page</span></dt>
        <dd>
            <div *ngIf="cmSubTopic.pageId">
                <a [routerLink]="['/cm-page-cm', cmSubTopic.pageId]">{{cmSubTopic.pageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cm-sub-topic-cm/'+ cmSubTopic.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
