<form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">

    <div class="modal-header">
        <h4 class="modal-title" id="myCmTopicLabel" jhiTranslate="cmExodusApp.cmTopic.home.createOrEditLabel">Create or edit a Cm Topic</h4>
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                (click)="clear()">&times;</button>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" [hidden]="!cmTopic.id">
            <label for="id" jhiTranslate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                   [(ngModel)]="cmTopic.id" readonly />
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmTopic.nameEn" for="field_nameEn">Name En</label>
            <input type="text" class="form-control" name="nameEn" id="field_nameEn"
                [(ngModel)]="cmTopic.nameEn" required/>
            <div [hidden]="!(editForm.controls.nameEn?.dirty && editForm.controls.nameEn?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameEn?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmTopic.nameSv" for="field_nameSv">Name Sv</label>
            <input type="text" class="form-control" name="nameSv" id="field_nameSv"
                [(ngModel)]="cmTopic.nameSv" required/>
            <div [hidden]="!(editForm.controls.nameSv?.dirty && editForm.controls.nameSv?.invalid)">
                <small class="form-text text-danger"
                   [hidden]="!editForm.controls.nameSv?.errors?.required" jhiTranslate="entity.validation.required">
                   This field is required.
                </small>
            </div>
        </div>
        <div class="form-group">
            <label class="form-control-label" jhiTranslate="cmExodusApp.cmTopic.icon" for="field_icon">Icon</label>
            <input type="text" class="form-control" name="icon" id="field_icon"
                [(ngModel)]="cmTopic.icon" />
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="clear()">
            <span class="fa fa-ban"></span>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
            <span class="fa fa-save"></span>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
    </div>
</form>
