
/* ==========================================================================
Main page styles
========================================================================== */
.program_list{
  margin: 0.2em 0;
  padding-bottom: 0.2em;
  padding-left: 0.1em;
  color: black;
}
.row-striped:nth-of-type(odd){
  border-left: 4px #000000 solid;
}

.row-striped:nth-of-type(even){
  // background-color: #ffffff;
  border-left: 4px #efefef solid;
}

.row-striped {
    padding: 15px 0;
}
