
/* ==========================================================================
Main page styles
========================================================================== */
.program_list{
  border: 1px solid gray;
  margin: 0.2em 0;
  padding: 5px;
  padding-bottom: 10px;
  padding-left: 20px;
  border-radius: 10px;
  background-color: lightgreen;
  color: black;
}
