
<div *ngIf="cmPageAuthority">
    <h2><span jhiTranslate="cmExodusApp.cmPageAuthority.detail.title">Cm Page Authority</span> {{cmPageAuthority.id}}</h2>
    <hr>
    <jhi-alert-error></jhi-alert-error>
    <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="cmExodusApp.cmPageAuthority.user">User</span></dt>
        <dd>
            <span>{{cmPageAuthority.user}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmPageAuthority.role">Role</span></dt>
        <dd>
            <span>{{cmPageAuthority.role}}</span>
        </dd>
        <dt><span jhiTranslate="cmExodusApp.cmPageAuthority.cmPage">Cm Page</span></dt>
        <dd>
            <div *ngIf="cmPageAuthority.cmPageId">
                <a [routerLink]="['/cm-page', cmPageAuthority.cmPageId]">{{cmPageAuthority.cmPageId}}</a>
            </div>
        </dd>
    </dl>

    <button type="submit"
            (click)="previousState()"
            class="btn btn-info">
        <span class="fa fa-arrow-left"></span>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
    </button>

    <button type="button"
            [routerLink]="['/', { outlets: { popup: 'cm-page-authority/'+ cmPageAuthority.id + '/edit'} }]"
            replaceUrl="true"
            queryParamsHandling="merge"
            class="btn btn-primary">
        <span class="fa fa-pencil"></span>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
    </button>
</div>
